@charset "UTF-8";
/*키오스크 전체구역*/
.kioskwrap {
	 font-family: 'GoryeongStrawberry';
	width: 700px; height: 1000px;
	margin: 50px auto; 		/* 구역가로 가운데 정렬 */
}
/*해더 구역 이미지*/
.himg {
	width: 100%;
	/* 비율 맞추기 이미지 짤릴때 */
	object-fit : cover;	
}
/*카테고리*/
.categorymenu{
	display: flex;							/*하위 요소들의 가로배치 */
	justify-content: space-around; /*가로배치 방법*/
	padding-top: 2px;
}
/* 선택 안된 카테고리 */
.categorymenu li{
	color: #8e8e8e;
}
/* 선택 된 카테고리 */
.categoryselect{
	color:red !important;		/* 위에서 이미 color 속성 사용했으므로 중복!! */
	/* 1. id 별도로 해서 속성적용 2.style속성 3. !important */
	border-bottom: 3px solid red;
	padding-bottom: 3px;
}
/* 제품들이 출력되는 구역 */
.productbox{
	height: 450px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;/*만약에 자식요소들이 현재 구역보다 사이즈가 더 커지면 */
}
/* 제품 1개 */
.product{width: 30%; text-align: center; margin: 5px 10px 30px 10px}
.product img {width: 100%}
.product .pprice{color:red;}

/* 카트 출력 구역 */
.cartbox{
	height: 250px;
	background-color: #eeeeee;
	position: relative;
}
/* 카트 상단 부분 */
.carttop{
	display: flex;
	justify-content: space-between;
	padding: 15px 50px;
}
/* 카트내 제품스 원형 */
.ccount{
	background-color: red;
	width: 30px;		/* 사이즈가 적용 span 기본값으로 inline width,height */
	display: inline-block;
	border-radius: 30px;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 4px;
}
.ctotal {
	color: red;
}
/* 카트내 제품 출력 구역 */
.cartbottom{
	display: flex;
	overflow-x: scroll; 
}
/* 카트내 제품 1개 */
.citem{
	min-width: 20%;		/*한줄에 4개씩 : 최소 가로 사이즈 */ /*max-width , min-width, max-height, main-height */
	background-color: white;
	padding: 10px;
	margin: 5px 10px;
	position: relative; /* 버튼의 기준점 안하면 body 따라감 */
}
/* 카트 개별 취소 버튼 */
.icencel{
	position: absolute; right: 10px; top:10px;
}
.iname{
	width: 80%; height: 60px;
}
.iprice{
	color: red;
}
.buttoncencel{
	background-color: black;	
}
.cartbtn{
	display: flex;
	position: absolute;
	width: 100%;
	bottom: 0px;
	
}
.cartbtn button{
	width: 50%;
	font-size: 20px;
	color: white;
	border: none;
	padding: 20px;
}
.cancelbtn{
	background-color: black;
}
.orderbtn{
	background-color: red;
}





