@charset "UTF-8";

*{ padding: 0px; margin: 0px;} /* 모든곳에 기본여백 제거 */
.content{
	width: 400px;			/* 가로 사이즈 */
	border: solid 1px #e8e8e8;	/* 테두리 */
	
}
.fimg{width: 330px}		/*사진 사이즈 */

.row2{
	border-top: solid 1px #e8e8e8;		/*위쪽 테두리 */
	font-weight: bold;		/* 굵기 */
	font-size: 18px;			/* 글꼴 크기*/
	padding-top: 20px;		/* 위쪽 여백 */
}
.row3{ font-weight:  bold;}		/* 굵기 */
.row4{margin-top: 10px; line-height: 150%} /* 글간격 */
.row5{margin-top: 10px; line-height: 150%} /* 글간격 */
.number{color: orange;} /* 글꼴 색상 */

/* 모든 li 스타일 적용 */
li{ padding: 5px 20px; list-style-type: none;}  /* 안쪽여백, 글머리 제거 */
